code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

[data-rehype-pretty-code-figure] {
  @apply relative my-6 rounded-lg border;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

/* Line numbers */
[data-line] {
  @apply inline-block min-h-[1rem] w-full px-4 py-0.5;
}

[data-line-numbers] > [data-line]::before {
  @apply text-muted-foreground;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}

/* Line highlighting */
[data-highlighted-line] {
  @apply border-l-4 border-l-blue-500 !bg-accent;
}

/* Word Highlighting */
[data-highlighted-chars] span {
  @apply relative;
}

[data-highlighted-chars] {
  @apply rounded-sm border bg-muted-foreground/10 p-1 text-foreground dark:bg-muted-foreground/50;
}
